body {
    background-color: #614289;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333;
}

.container {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
    flex-wrap: wrap;
}

form, table {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 0 10px;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
}

#rodape {
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 5px;
    font-size: 10px;
    margin-top: auto;
}

h2 {
    margin-top: 0;
    color: #007bff;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"],
select {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="number"] {
    margin-bottom: 10px;
}

select {
    margin-bottom: 10px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    border-collapse: collapse;
    width: 100%;
    min-height: 400px;
    max-width: 500px;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
}

td, th {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}
